
  <%= form_with(model: @artist, local: true) do |form| %>
<p class="heading_bar">投稿する</p>
    <%= render 'layouts/error_messages', model: form.object %>
    <%= render partial: "form", locals: { artist: @artist } %>
  <% end %>

