<p>name:<%= @nickname %></p>

<div class="contents row">
  <p><%= @nickname %>さんの投稿一覧</p>

  <% @artists.each do |f| %>
      <p><%= f.name %>先生</p>
      <p>・<%= f.explanation %></p>
    </div>
  <% end %>
</div>