*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}

.btn,
header.header div.header__bar.row div.grid-6 a.post {
  padding: 8px 10px;
  font-size: 14px;
  border: 2px dashed #000;
  color: #000507;
  font-weight: bold;
  text-align: center;
  border-radius: 3px;
  display: inline-block;
}

/*.title--big {
  font-size: 1.5em;
  font-weight: bold;
}
.title--big i {
  font-style: italic;
  font-size: 1.8em;
} */

