
* {
  margin:0; padding:0;
}
header {
  width: 100%;
  height: 200px;
  padding: 5px 0;
  text-align: center;
  background-image: url("header.jpg");
  background-position: center center;
  background-size: cover;
}

header .tittle {
  font-family: 'Caveat', cursive;
  letter-spacing : 10px;  
  color: #ffffff;
  font-size: 50px;
  display: flex;
  display: left;
  padding: 0 5px;
}

.nav-list {
  padding: 8px 10px;
  font-size: 14px;
  border: 2px dashed rgb(255, 255, 255);
  border-radius: 5px;
  display: inline;
  position:absolute;
	left:40px;
  top:100px;
}

.nav-list-item {
  padding: 8px 10px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  
}
a { text-decoration: none;}
a:hover { text-decoration:  none; }
a:link  { color : #ffffff; }
a:visited  { color : #ffffff; }

