/*!
 * YUI 3.5.0 - reset.css (http://developer.yahoo.com/yui/3/cssreset/)
 * http://cssreset.com
 * Copyright 2012 Yahoo! Inc. All rights reserved.
 * http://yuilibrary.com/license/
 */
/*
    TODO will need to remove settings on HTML since we can't namespace it.
    TODO with the prefix, should I group by selector or property for weight savings?
*/
html{
  color:#000;
  background:#FFF;
}
/*
  TODO remove settings on BODY since we can't namespace it.
*/
/*
  TODO test putting a class on HEAD.
      - Fails on FF.
*/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin:0;
  padding:0;
}
table {
  border-collapse:collapse;
  border-spacing:0;
}
fieldset,
img {
  border:0;
}
/*
  TODO think about hanlding inheritence differently, maybe letting IE6 fail a bit...
*/
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style:normal;
  font-weight:normal;
}

ol,
ul {
  list-style:none;
}

caption,
th {
  text-align:left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size:100%;
  font-weight:normal;
}
q:before,
q:after {
  content:'';
}
abbr,
acronym {
  border:0;
  font-variant:normal;
}
/* to preserve line-height and selector appearance */
sup {
  vertical-align:text-top;
}
sub {
  vertical-align:text-bottom;
}
input,
textarea,
select {
  font-family:inherit;
  font-size:inherit;
  font-weight:inherit;
}
/*to enable resizing for IE*/
input,
textarea,
select {
  *font-size:100%;
}
/*because legend doesn't inherit in IE */
legend {
  color:#000;
}
/* YUI CSS Detection Stamp */
#yui3-css-stamp.cssreset { display: none; }

body {
  font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans',
               'ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic'
}

 body {background-image: url("fodder.jpg");
       background-size:  auto;} 

  div{
    color: #FFF;
    width: 90%;
    margin: 0 auto;
    padding: 14px;
    background: rgb(0, 0, 0);
  }

header {
  width: 100%;
  height: 200px;
  padding: 5px 0;
  text-align: center;
  background-image: url("header.jpg");
  background-position: center center;
  background-size: cover;
  margin: 0;
  }
  header .tittle {
  font-family: 'Caveat', cursive;
  letter-spacing : 10px;  
  color: #ffffff;
  font-size: 50px;
  display: flex;
  display: left;
  }

nav{
  text-align: center;
  position: absolute; top: 150px;
  font-family:'Hiragino Mincho ProN';
  }
  nav ul{
  margin: 0 ;
  padding: 0 ;
  }
  nav ul li{
  list-style: none;
  display: inline-block;
  width: 18%;
  min-width: 90px;
  bottom:20px;
  }


a { text-decoration: none;}
a:hover { text-decoration:  none; }
a:link  { color : #ffffff; }
a:visited  { color : #ffffff; }

footer{
  font-family: 'Caveat', cursive;
  font-size: 20px;
  width: 100%;
  height: 100px;
  background-color: #000;
  color: white;
  text-align: center;
}
ul.footer-menu li {
display: inline;
}


.explain{
  width: 100%;
  margin: 0 auto;
  padding: 14px;
  color: rgb(0, 0, 0);
  font-size: 10px;
  align-items: center;
  background-image:linear-gradient(-45deg, #dfdfdf 25%, #f9f8f7 25%, #f9f8f7 50%,
                                   #dfdfdf  50%, #dfdfdf 75%, #f9f8f7 75%, #f9f8f7);
  
  }
.explain-look{
  font-family:'Hiragino Mincho ProN';
  font-size: 20px;
}
.explain-text{
  font-family:'Hiragino Mincho ProN';
  font-size: 15px;
  overflow-wrap: break-word;
}

.search-container{
  text-align: center;
  position: relative;
  right: 20px;
  margin-bottom: 30px;
}
.search-container .search-btn{
  cursor: pointer;
  position: absolute;
  border-style: solid;
  border-color: #ffffff;
  background-color: black;
  margin: 0 0 0 3px;
  height: 35px;
  width: 35px;
}

input#search-bar{
  width: 90%;
  height: 40px;
  padding: 0 20px;
  font-size: 1rem;
  outline: none;
  position: 0 auto;
}

.heading_bar{
  font-family: 'Caveat', cursive;
  font-size: 1em;
  color: rgb(0, 0, 0);
  font-weight: bold; 
  padding-top: .5em;
  padding-left: 10px;
  padding-bottom: .5em;
  margin-bottom: 2em;
  margin-top: 10px;
  background: repeating-linear-gradient(90deg, #ffffff 0%,rgba(255, 255, 255, 0) 100%);
  }

.box26 {
  position: relative;
  margin: 0 0 80px 0 ;
  padding: 0.5em 1em;
  background-color: #FFF;
  border: solid 3px #ffffff;
  border-radius: 3px;
  color: #000000;
}
.box26 .box-title {
  position: absolute;
  display: inline-block;
  top: -27px;
  left: -3px;
  padding: 5px;
  line-height: 1;
  font-size: 19px;
  background-color: rgb(255, 255, 255);
  color: #000000;
  font-weight: bold;
  border-radius: 3px;
}
.box26 .box-user {
  margin: 0; 
  padding: 0;
  color: #000000;
}
.box26 .box-time {
  margin: 0; 
  padding: 0;
  color: #000000;
  position: absolute;
  right: 10px;
  top: 4px;
}
.box26 .box-text {
  margin: 0; 
  padding: 0;
  color: #000000;
  overflow-wrap: break-word;
}


.box26 .lists{
  position: absolute;
  border-style: solid;
  height: 1px;
  width: 1px;
  right: -40px;
  top:-2px;
}  
.lists .list{
  position: absolute;
  display: none;
  background: #000000;
  margin: 0;
  padding: 0;
  width: 50px;
  right: -20px;
}
.lists:hover .list {
  display: inline-block;
}

.your_names  {
  position: relative;
  font-family:'Hiragino Mincho ProN';
  margin: -20px 0 20px 40px;
	padding: 10px;
	width: 460px;
	text-align: left;
  color: #FFF;
}
.your_names li{
    font-size: 15px;
    text-align: left;
  }
  .your_name .under{
    border-bottom:solid 1px #ffffff;
    font-size:15px;
  }

  .your_names  .search-prof{
  position: absolute;
  cursor: pointer;
  border-style: solid;
  border-color: #ffffff;
  background-color: black;
  height: 35px;
  width: 35px;
  top: -49px;
  left: 70px;
}
.your_names  .search-prof .list{
  position: absolute;
  display: none;
  background: #000000;
  margin: 0;
  padding: 0;
  width: 80px;
  left: 30px;
  top: -5px;
}
.search-prof:hover .list {
  display: inline-block;
}

.box17{
  position: relative;
  margin:2em auto;
  padding: 0.5em 1.5em;
  border-top: solid 2px rgb(255, 255, 255);
  border-bottom: solid 2px rgb(255, 255, 255);
}
.box17:before, .box17:after{
  content: '';
  position: absolute;
  top: -10px;
  width: 2px;
  height: -webkit-calc(100% + 20px);
  height: calc(100% + 20px);
  background-color: rgb(255, 255, 255);
}
.box17:before {left: 10px;}
.box17:after {right: 10px;}
.box17 p {
  margin: 0; 
  padding: 0;
}


.artist-new{
  text-align:center;
}
.artist-label{
  text-align:center;
}
.artist-name{
  padding-left: 10px;
  margin: 0 auto;
  width: 300px;
  height: 40px;
  word-break: break-all;
}
.artist-ex{
  width: 100%;
  height: 200px;
  word-break: break-all;
}
.artist-btn{
  width: 300px;
  height: 40px;
  text-align:center;
}

.content-show{
  top: 20px;
  width: 80%;
  margin: 0 auto -70px ;
}



.get-comments{
  margin: 0 auto;
  text-align:center;
}
.get-comment{
  width: 90%;
  height: 200px;
  word-break: break-all;
}
.comments{
	display: block;
}
.comments_list{
  overflow-wrap: break-word;
  text-align: left;
}
.comment_user{
  border-bottom: solid #FFF 1px;
}

.no-artist-memo{
  font-size: 15px;
}